
body{
    font-family: 'Montserrat';
}

#title{
    background-color: #FF4C68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.2;
}

h3{
    font-weight: 900;
}
p{
    color: #8f8f8f;
}
/* Navigation Bar */
.navbar{
    padding:0 0 2.5rem;
}

.navbar-brand{
    font-family: 'Freehand', cursive;
    font-size: 35px;
}

.nav-item{
    padding:0 15px;
}

.nav-link{
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

/* Download Button  */

.download-button{
    margin:5% 3% 5% 0;
}

/* Title Image  */

.title-image{
    width: 22%;
    transform: rotate(19deg);
    position: absolute;
    right: 25%;
}
.title-image:hover{
    transform: rotate(15deg);
}

/* Features SEction  */

#features{
    padding:7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    font-family: 'Montserrat';
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #FF4C68;
}

/* Testimonial section */

#testimonials{
   
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-image{
    width: 12%;
    margin: 20px 20px 50px;
}

/* Pricing Section  */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;

}

/* Call to Action  */

#cta{
    background-color: #FF4C68;
    text-align: center;
    color: #fff;
    
}

.cta-msg{
    padding: 4% 19% 0;
}

/* footer sectiion  */

#footer{
    text-align: center;
}
.footer-icon{
    padding: 5% 2% 2%;
}
.contact-me{
    text-decoration: none;
    
}

@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        width: 60%;
        transform: rotate(0deg); 
    }
    .title-image:hover{
        transform: rotate(2deg);
    }

}

